---
// SocialLinks component - Now uses SocialButton for DRY principles
import SocialButton from '../common/SocialButton.astro';

interface SocialLink {
  platform: string;
  url: string;
  icon: string;
}

interface Props {
  links: SocialLink[];
}

const { links } = Astro.props;
---

<div class="flex justify-center gap-5">
  {
    links.map((link) => (
      <SocialButton {...link} />
    ))
  }
</div> 