---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<span class="inline-block font-heading neo-border rounded px-2 py-1 text-[0.65rem]" style="background-color: var(--biolink-secondary-button-background); color: black;">
  {text}
</span>