---
// BaseButton component - Simple link styled as a button that can also open modals
import { Icon } from 'astro-icon/components';

interface Props {
  title: string;
  icon?: string;
  url?: string;
  modal?: string;
}

const { title, icon, url, modal } = Astro.props;
const isModal = !!modal;
---

<a
  href={isModal ? "#" : url}
  target={isModal ? undefined : "_blank"}
  rel={isModal ? undefined : "noopener noreferrer"}
  data-modal-target={isModal ? modal : undefined}
  class="grid grid-cols-5 gap-2 items-center text-center w-full mb-2 neo-button rounded-lg overflow-hidden"
  style="background-color: var(--biolink-link-button-background);"
>
  <div class="col-span-1 flex justify-center items-center h-full py-3" style="background-color: var(--biolink-link-button-accent-color);">
    {icon && <Icon name={icon} class="w-8 h-8 text-white" />}
  </div>
  <div class="col-span-3 px-2 py-3 flex justify-center items-center font-heading font-bold mx-auto" style="color: var(--biolink-link-button-text-color);">
    {title}
  </div>
  <div class="col-span-1 flex justify-center items-center h-full py-3">
    <Icon name="tabler:chevron-right" class="w-8 h-8" style="color: var(--biolink-link-button-text-color);" />
  </div>
</a>